ul.events span.location {
    color: gray;
    padding: 0 5px;
}
ul.events span.summary {
    padding: 0 5px;
}
ul.events hr.now {
    border: 1px solid #FF8080;
    margin: 3px 0;
}

footer {
    height: 60px;
    background-color: #f5f5f5;
}
footer .social-buttons, footer .credit {
    margin: 15px 0;
}
